.exploring-main {
  display: flex;
  flex-wrap: wrap;
  background-color: #fceeee;
  padding: 50px 30px;
  gap: 50px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.exploring-left {
  max-width: 500px;
  flex: 1 1 400px;
}

.exploring-heading {
  font-size: 3rem;
  font-weight: 00;
  color: #000;
  margin-bottom: 40px;
}

.exploring-heading .highlight {
  color: #e74c00;
}

.exploring-text {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 30px;
}

.exploring-button {
  background-color: #e74c00;
  color: white;
  border: none;
  padding: 12px 30px;
  margin-top: 20px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease;
}

.exploring-button:hover {
  background-color: #d84300;
}

.exploring-image {
  flex: 1 1 400px;
  max-width: 512px;
  height: 518px;
  border-radius: 20px;
  object-fit: cover;
}


@media (max-width: 1024px) {
  .exploring-heading {
    font-size: 2.5rem;
  }

  .exploring-button {
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  .exploring-main {
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;
  }

  .exploring-image {
    width: 100%;
    max-width: 600px;
  }

  .exploring-left {
    max-width: 100%;
  }

  .exploring-button {
    max-width: 100%;
  }

  .exploring-heading {
    font-size: 2rem;
  }

  .exploring-text {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .exploring-heading {
    font-size: 1.8rem;
  }

  .exploring-text {
    font-size: 0.95rem;
  }

  .exploring-button {
    font-size: 0.95rem;
    padding: 10px 20px;
  }
}
